/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mijobrands-cta {
	@apply bg-gray-50;
	border: 1px dotted #f00;

	.content__cta {
		position: relative;

		&:before {
			background-color: #F57F43;
			content: '';
			display: block;
			height: 125px;
			width: 30px;
			position: absolute;
			transform: skew(15deg, 0);
			top: 0;
			left: 10px;
		}

		.cta__title {
			@apply  pl-16 lg:pl-16 mt-0 lg:mt-1 font-normal text-[#4D4D4F] text-5xl;
		}
	}
}
